.myBtn{
/*  @extend .btn-primary;
!*  background-color: $primary;
  color: white;
  *!
  border: 1px solid darken($primary, 20%);
  padding: 0.4rem 0.7rem;
  border-radius: 10px;*/
  padding:  0.4rem 0.7rem;
  border-radius: 10px;

  &-primary{
    @extend .myBtn;
    background-color: $primary;
    color: white;
    border: 1px solid darken($primary, 20%);
  }

  &-primary:hover{
    background-color: white;
    color: black;
  }

  &-logout{
    @extend .myBtn;
    background-color: white;
    border: 1px solid darken($green, 60%);
  }

  &-logout:hover{
    background-color: darken($green, 60%);
    color: white;
  }
}

.form-control{
  background-color: white;
  color:black;
}

