.dateIdea{
  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
  /*  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;*/
}

.invitation{
/*  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);*/
  @extend .dateIdea;
}

.card{
  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
// vererbung h2

#dateIdeas{
/*  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95vw;*/
}

