.dateIdea, .favorite, .invitation {
  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
  /*  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;*/
}

/*.invitation {
  @extend .dateIdea;
  h2 {
    color: $pink;
  }
}

.favorite{
  @extend .dateIdea;
  h2{
    color: $pink;
  }
}

.dateIdea h2{
  //color: #637F11;
  color: $darkGreen;
  //color: #7c912f;
}*/

.card {
  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

// vererbung h2

#dateIdeas {
  /*  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95vw;*/
}

.dateIdea a, .invitation a, .favorite a {
  word-break: break-all;
  color: black;
}

.favs:hover {
  color: $pink;
  cursor: pointer;
}

.favs.fa-heart.fa-solid {
  color: $pink;

}

.favs.fa-solid:hover {
  color: lighten($pink, 30%);
}

/*.dateIdea h2, .favorite h2, .invitation h2{
  display: inline;
}*/

#addIdea, #openInviteForm, .letter, .invitation img {
  cursor: pointer;
}