@include flex(center);
@include flex(center, center);
@include flex(center, start, column);

body{
  font-family: Helvetica, Montserrat, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#kwmJS{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

/*
@for $i from 1 to 6 {
  @include m($i);
}*/

#appHeader{
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  //border-bottom: 1px solid #7e8993;
}
