@mixin position($position, $bottom){
  .position-#{$position}-#{$bottom}{
    position: $position;
    bottom: $bottom;
  }
}

@mixin flex($justifyContent, $align: 'start', $dir: 'col'){
  .flex-#{$justifyContent}{
    display: flex;
    justify-content: $justifyContent;
    border: 1px solid orange;
  }

  .flex-#{$justifyContent}-#{$align}{
    display: flex;
    justify-content: $justifyContent;
    align-items: #{$align};
  }

  .flex-#{$justifyContent}-#{$align}-#{$dir}{
    @extend .flex-#{$justifyContent}-#{$align};
    /*display: flex;
    justify-content: $justifyContent;
    align-items: #{$align};*/
    flex-direction: $dir;
  }
}

