@mixin position($position, $bottom){
  .position-#{$position}-#{$bottom}{
    position: $position;
    bottom: $bottom;
  }
}

@mixin flex($justifyContent, $align: 'start', $dir: 'col'){
  .flex-#{$justifyContent}{
    display: flex;
    justify-content: $justifyContent;
    border: 1px solid orange;
  }

  .flex-#{$justifyContent}-#{$align}{
    display: flex;
    justify-content: $justifyContent;
    align-items: #{$align};
  }

  .flex-#{$justifyContent}-#{$align}-#{$dir}{
    @extend .flex-#{$justifyContent}-#{$align};
    /*display: flex;
    justify-content: $justifyContent;
    align-items: #{$align};*/
    flex-direction: $dir;
  }
}

/*@mixin flex-center-col{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #32ad32;
}*/

@mixin grid($columns, $gap: 1em, $justify: 'center', $align: 'center'){
  .grid-#{$columns}{
    display: grid;
    grid-template-columns: repeat(#{$columns}, 1fr);
    //grid-gap: 20px;
    justify-content: $justify;
    align-items: $align;
    grid-gap: $gap;
  }
}


/*#dateIdeas{
  @include flex(center, column, 90vw);
/*  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
}*/

