@import "abstracts/variables";
@import "components";
@import "layout/CPT";
@import "layout/navigations";
@import "abstracts/mixins";

//TODO: darken function

body{
  font-family: Helvetica, Montserrat, sans-serif;
  font-size: 1rem;
}


#login_state {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #59c53b;
}

#login_state.red {
  background-color: #980505;
}


#frm_submit_post {
  display: none;
}

#frm_submit_post.visible {
  display: block;
}

h1 {
  color: $darkGreen;
}

h2 {
  color: $pink;
}