@mixin flex($justifyContent, $dir: 'column', $align: 'center'){
  .flex-#{$justifyContent}-#{$dir}{
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $dir;
    color: orange;
  }
}

@mixin flex-center-col{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: green;
}

@mixin grid($columns, $gap: 1em, $justify: 'center', $align: 'center'){
  .grid-#{$columns}{
    display: grid;
    grid-template-columns: repeat(#{$columns}, 1fr);
    //grid-gap: 20px;
    justify-content: $justify;
    align-items: $align;
    grid-gap: $gap;
  }
}